<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">Customers</a>
      <span class="navbar-toggler-icon"></span>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/customer" routerLinkActive="active">Display All Customers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/getCustomersByCountry">Retrieve by Country</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/getCustomersByPhone">Retrieve by Phone</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/getCustomersByState">Retrieve by State</a>
          </li>
      </ul>
    </div>
  </nav>
  